

@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Cabin+Condensed & display =swap');


@media(max-width: 1080px){
 


  *{
  box-sizing: border-box;
  

 box-sizing: border-box;
  }


 


#btn{

  background-color: black;
  color: aliceblue;
  width: 120px;
  height: 50px;
  display: block;
  border-radius: 20px;
}
#btn:hover{

  background-color: rgb(255, 0, 0);
  color: aliceblue;
  width: 120px;
  height: 50px;
  display: block;
  border-radius: 20px;
}


body{

  background-color: red;
  background-image: url(images/dama.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  position: absolute;
src: url(images/dama.jpg);
}
.text-input{
  width: 100px;
}

.form1{
  background-image: url(images/fortune\ nome.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position:top;
  background-position-y: top;
  margin-top: 30px;

padding: 45px;
color: aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: auto;

background-color: rgb(116, 0, 0);
opacity: 90%;
border-radius: 20px;
margin-top: 100px;

width: 300px;
margin-left: 40px;
height: 1080px;

}
}